# No contiene secretos. Usar Managed Identity o un perfil seguro en Azure.
AZURE_LOCATION=eastus
AZURE_STORAGE_ACCOUNT_NAME=practica2semi1a1s2026g15
AZURE_STORAGE_CONTAINER_NAME=practica2semi1a1s2026archivosg15
AZURE_STORAGE_BLOB_ENDPOINT=https://practica2semi1a1s2026g15.blob.core.windows.net/
AZURE_STORAGE_AUTH_MODE=managed-identity
