[Unit]
Description=CloudCinema API - Python (PRA-15)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/cloudcinema/Practica_1/api-python
EnvironmentFile=/opt/cloudcinema/Practica_1/api-python/.env.python
ExecStart=/opt/cloudcinema/Practica_1/api-python/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=on-failure
RestartSec=5
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
